<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="static/css/app.css" media="screen" title="no title" charset="utf-8">
		<title>Python Flask Bucket List App</title>
	</head>
	<body>
		<div class="container" style="">
			<div class="header">
				<nav>
					<ul class="nav nav-pills pull-right">
						<li role="">
							<a href="https://accounts.google.com/o/oauth2/auth?redirect_uri=http://localhost:5000&response_type=code&client_id=778810842547-qqvoic08gga7plchr8ska7tsr5urj0d3.apps.googleusercontent.com&scope=https://www.googleapis.com/auth/youtube&approval_prompt=force&access_type=offline"
							class="btn btn-login-google" >Entrar con Gmail1</a>
						</li>
						<li>
							<a href="https://accounts.google.com/o/oauth2/auth?client_id=778810842547-qqvoic08gga7plchr8ska7tsr5urj0d3.apps.googleusercontent.com&redirect_uri=http://localhost:5000&scope=https://www.googleapis.com/auth/youtube&response_type=token"
							class="btn btn-login-google" >Entrar con Gmail2</a>
						</li>
					</ul>
				</nav>
				<h1 class="text-muted"><a href="#" class="box-shadow-menu"></a></h1>
			</div>

			<div class="jumbotron_" style="border:1px solid red">
				<h1>{{ title }}</h1>
				<p class="lead"></p>
				<img class="img-responsive" src="/static/images/pixel.jpg" alt="" />
				<p>
					<pre>https://www.youtube.com/watch?v=FjNdYp2gXRY</pre>
				</p>
			</div>

			<div id="left-panel" class="hide_" style="display:none">
				<br>
				<ul>
					<li><a href="#">option 1</a></li>
					<li><a href="#">option 2</a></li>
					<li><a href="#">option 3</a></li>
					<li><a href="#">option 4</a></li>
				</ul>
			</div>

		</div>
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript">
			$('.box-shadow-menu').click(function(){
				$('#left-panel').toggle('show');
			})

		</script>
	</body>
</html>
